body{
	font-family: oxygen;
}
#box1 {
	background-color: black;
	color: white;
	width: 60px;
	height: 60px;
	border: 1px black;
	}
#box2 {
	background-color: black;
	color: maroon;
	width: 60px;
	height: 60px;
	}
#box3 {
	background-color: black;
	color: red;
	width: 60px;
	height: 60px;
	}
